*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    width: 100%;
}

.body {
    min-height: 100vh;
    /* background-color: #7b488f; */
    background-image: url(images/dancing-concert-while-singer-is-performing-surrounded-with-lights.jpg);
    background-blend-mode: hard-light;
    background-size: cover;
    /* padding-bottom: 40vh; */
}

nav {
    background-color: #ffffff7e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    color: white;
    cursor: pointer;
}

nav li:first-child  {
    margin-right: auto;
}

nav li:nth-last-child(2)  {
    margin-left: auto;
}

.nav-img {
    width: 2em;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.438);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.logo, .account-icon {
    margin: 0 2em;
}

.main-text {
    text-align: left;
    color: rgb(37, 37, 37);
    mix-blend-mode: color-burn;
    padding-top: 6rem;
    padding-left: 2rem;
    font-size: 2vw;
    font-weight: bolder;
}

.main-text h1 {
    font-size: 12vw;
    margin-bottom: 1rem;
    margin-top: -30px;
}

.map {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff7e;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map img{
    min-width: 3rem;
    color: tomato;
}


.live-video-container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 161, 73);
}

.live-text {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin: 0 2rem ;
    text-align: right;
}

.live-text h2 {
    line-height: 0.8;
    margin-bottom: 1rem;
}

.live-text P {
    font-size: 1.5rem;
    color: white;
}

.live-video{
    aspect-ratio: 16 / 9;
    width: 60%;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 4px 30px rgba(107, 16, 0, 0.726);
}

 .notification_body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff7e;
    width: 100%;
 }

 .carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
 }  

 .carousel::-webkit-scrollbar {
    display: none;
 }

 .group {
    display: flex;
    animation: slide 15s infinite linear;
 }

 .img {
    flex: 0 0 5em;
    height: auto;
    width: 100%;

 }

 @keyframes slide {
    from {translate: 0;}
    to {translate: -100%;}
 }


.footer {
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    margin-top: 1vh;
    
}

.footer_logo {
    width: 8rem;
    margin-bottom: 1rem;
    filter: opacity(0.7);
    filter: grayscale(100%);
}

.footer1 {
    color: white;
    text-align: center;
    line-height: 1.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 2rem;
}

.footer2 {
    color: white;
    text-align: center;
    width: 80%;
}

#hamburger {
    display: none;
}

/* styles for smaller screens */
@media (max-width: 1240px) {
    .body {
        min-height: 50vh;
    }

    .live-video-container {
    height: 60vh;
    flex-direction: column;
}

.live-text {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.live-video{
        width: 80%;
    }

} 



@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .sidebar-head {
        display: flex;
        justify-content: space-between;
    }

    #hamburger {
    display: block;
}


.live-video-container {
    height: 60vh;
    flex-direction: column;
}

.live-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

    .notification_body {
    flex: 0 0 5em;
    height: 2em;
    max-width: 100%;

 }

 .map {
    position: absolute;
    bottom: 50rem;
    right: 10px;
    background-color: #ffffff7e;
    padding: 0.5rem;
    border-radius: px;
    box-shadow: 0 2px 4px rgba(139, 0, 0, 0.1);
}

    .main-text {
        padding-top: 3rem;
        padding-left: 1rem;
        font-size: 5.2vw;
        padding-bottom: 1rem;
    }
    .main-text h1 {
        font-size: 13vw;
    }
    .footer1, .footer2 {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .footer_logo {
        width: 5rem;
    }
}

@media (max-width: 480px) {

    .body {
        width: 100%;
        min-height: 70vh;
    }

    .sidebar {
        width: 100%;
    }

    .map {
    position: absolute;
    bottom: 17rem;
    right: 10px;
    background-color: #ffffff7e;
    padding: 0.5rem;
    border-radius: px;
    box-shadow: 0 2px 4px rgba(139, 0, 0, 0.1);
}

    .live-video-container {
    height: 100vh;
    flex-direction: column;
}

    .main-text h1 {
        max-width: 4.5vw;
    }

    .main-text h2 {
        font-size: 15vw;
        padding-bottom: 2rem;
    }
    .main-text {
        max-width: 4rem;
        padding-top: 4rem;
        padding-left: 0.5rem;
    }
    .nav-img {
        width: 1.5em;
    }
    .footer_logo {
        width: 3rem;
    }
}